:root {
  --color-one: #2d3047;
  --color-two: #4d6a6d;
  --color-text: #f2f2f2;
  --font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  background-color: var(--color-one);
  color: var(--color-text);
}

a {
  display: block;
  text-decoration: none;
  border: 2px solid var(--color-two);
  width: fit-content;
  padding: 0.75rem 1.5rem;
  color: inherit;
}

p,
.acting-p {
  line-height: 1.5;
}

h1,
.acting-h1 {
  margin-bottom: 5rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
}

.container {
  max-width: 1320px;
  width: 90%;
  position: relative;
  height: 100%;
  padding: 2.5rem 0;
  margin: 0 auto;
}

.flex-box {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 3rem;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem 1.5rem;
  border: 2px solid var(--color-two);
  border-radius: 15px;
  height: 250px;
  overflow: visible;
}

.note h2,
.acting-h2 {
  padding-bottom: 1.5rem;
  font-weight: 600;
  font-size: 1.75rem;
  text-align: center;
}

.note p {
  font-weight: 200;
  padding: 1rem 0;
  max-height: 80px;
  overflow: hidden;
  line-height: 1.5;
}

.btns {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-transform: uppercase;
}

button,
.send-btn {
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  color: var(--color-text);
  background-color: var(--color-two);
  border-radius: 10px;
  font: var(--font-family);
  font-size: 1rem;
}

.single-note,
.form {
  border-radius: 10px;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  height: 100dvh;
  position: relative;
}

.single-note h1,
.acting-h1 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  text-align: center;
}

.single-note p,
.acting-p {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.single-note .btns,
.form .btns {
  margin-top: 3rem;
  width: 100%;
  position: absolute;
  bottom: 2rem;
}

input {
  display: block;
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
  /* padding: 0; */
  margin-left: auto;
  margin-right: auto;
  font-family: var(--font-family);
}

textarea {
  display: block;
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
  padding-left: 0;
  padding-right: 0;
  text-indent: 0;
  overflow-wrap: normal;
  font-family: var(--font-family);
}
