<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes App</title>
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <div class="form">
      <div class="container">
        <form action="/edit/form/<%= note.id %>" method="post">
          <input
            type="text"
            name="title"
            id="title"
            class="acting-h1"
            value="<%=note.title%>"
          />
          <textarea id="body" name="body" rows="10" cols="50" class="acting-p">
    <%= note.body %></textarea
          >
          <div class="btns">
            <a href="/note/<%= note.id %>" class="send-btn">Return</a>
            <button type="submit" class="send-btn">Edit</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
