<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes App</title>
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="single-note">
        <h1><%= title %></h1>
        <p><%= body %></p>
        <div class="btns">
          <a href="/" class="send-btn">Return</a>

          <form action="/delete/<%= id %>" method="post">
            <button>Delete</button>
          </form>
          <a href="/edit/<%= id %>" class="send-btn">Edit</a>
        </div>
      </div>
    </div>
  </body>
</html>
